@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.main-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.main-index {
  background-color: #ffffff;
  background-image: url(../images/main/hero-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advanteges {
  color: #000000;
  background-color: #ffffff;
}

.lead {
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  background-color: inherit;
}

.reason {
  font-family: "PT Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;

}

.advantages-list {
  text-align: center;
}

.advanteges-title {
  font-family: "PT Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.services {
  text-align: center;
}

.services-lead {
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.services-lead-text {
  font-family: PT Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.services-title {
  font-family: "PT Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.hotel-search {
  text-align: center;
  text-decoration: none;
}

.hotel-search-title {
  font-family: PT Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe {
  background-image: url(../images/main/subscribe_background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;

}

.subscribe-title {
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff
}

.subscribe-description {
  font-family: PT Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff
}

.page-footer {
  text-align: center;
}

.contact-phone {
  color: #000000;
  text-decoration: none;
}
